{% extends "layout1.njk" %}
{% block  content %}
<header class="hero">
  <img src="https://picsum.photos/1280/720" alt="Placeholder">
  <div class="filter"></div>
  <h1>{{message}}</h1>
</header>  
{% endblock %}
